# Operating System files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# IDE files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Composer
/vendor/
composer.lock

# Node
/node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Build files
/releases/
/build-tmp/
*.zip

# WordPress environment
/wp-admin/
/wp-includes/
/wp-content/

# Environment specific
.env
.env.*
!.env.example

# Logs
*.log
/logs/ 